/*
 * Loyal Blue : SW 6510 : #01455E : 1, 69, 94
 * Fabulous Grape : SW 6293 : #6D344F : 109, 52, 79
 * Vintage Vessel : SW 9050 : #94B2A6 : 148, 178, 166
*/

:root {
    --primary-color: #01455E;
    --secondary-color: #6D344F;
    --txt-color: #94B2A6;
}
